@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

#ay-comment-body{
    font-family: 'Poor Story', cursive;
    background-color: rgb(225, 255, 240);
    margin: 20px auto 20px auto;
    padding:20px 0px 0px 0px;
    width: 1200px;
}

#jw-comment-body{
    font-family: 'Poor Story', cursive;
    background-color: rgb(225, 255, 240);
    margin: 20px auto 20px auto;
    padding:20px 0px 0px 0px;
    width: 1200px;
}

#js-comment-body{
    font-family: 'Poor Story', cursive;
    background-color: rgb(225, 255, 240);
    margin: 20px auto 20px auto;
    padding:20px 0px 0px 0px;
    width: 1200px;
}

#jh-comment-body{
    font-family: 'Poor Story', cursive;
    background-color: rgb(225, 255, 240);
    margin: 20px auto 20px auto;
    padding:20px 0px 0px 0px;
    width: 1200px;
}

#jm-comment-body{
    font-family: 'Poor Story', cursive;
    background-color: rgb(225, 255, 240);
    margin: 20px auto 20px auto;
    padding:20px 0px 0px 0px;
    width: 1200px;
}

#comment-title{
    background-color: lightblue;
    text-align: center;
    font-size: 30px;
    padding: 5px 0px 5px 0px;
}

#comment-input-box {
    background-color: lightblue;
    width: 1100px;
    margin:20px auto 0px auto;
    box-shadow: 1px 1px 6px 0px gray;
}

#aw-comment-output {
    clear:both;
    background-color: rgb(225, 255, 240);
    margin: 0px auto 20px auto;
    width: 1200px;
    height: auto;
}

#jw-comment-output {
    clear:both;
    background-color: rgb(225, 255, 240);
    margin: 0px auto 20px auto;
    width: 1200px;
    height: auto;
}

#js-comment-output {
    clear:both;
    background-color: rgb(225, 255, 240);
    margin: 0px auto 20px auto;
    width: 1200px;
    height: auto;
}

#jh-comment-output {
    clear:both;
    background-color: rgb(225, 255, 240);
    margin: 0px auto 20px auto;
    width: 1200px;
    height: auto;
}

#jm-comment-output {
    clear:both;
    background-color: rgb(225, 255, 240);
    margin: 0px auto 20px auto;
    width: 1200px;
    height: auto;
}

.card {
    background-color: transparent;
    margin: 0px auto 0px auto;
    width:1100px;
    height: 45px;
    border:dashed;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

#commentchar {
    font-size: 20px !important;
    margin-top: -2px;
    color: black;
}