     /* 지수 님 카드 관련 css 파일 */

     @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
     /* 구글폰트-고딕/변경할 수 있음 */
     @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
     /* 아이콘 임포트 */

     * {
         font-family: 'Nanum Gothic', sans-serif;
     }

     .jscard {
         background-color: #c9a7eb;
         width: 1200px;
         height: 600px;
         border-radius: 100px;
         color: white;
         float: center;
         margin: 0px 0px 20px 0px;

     }

     .jsleft {
         background-color: #ecc9ee;
         width: 585px;
         height: 580px;
         margin: 10px 5px 10px 10px;
         border-radius: 100px;
         text-align: center;
         float:left;
         
     }

     #jsfirst {
        text-shadow: 3px 3px 3px gray;
     }


     .jsleftpic1 {
         background-color: aliceblue;
         width: 50%;
         height: 240px;
         margin: 0px 0px 0px 10px;
         border-radius: 80px;
         float: left;
         background-image: url('../images/js1.jpg');
         background-position: center;
         background-size: cover;
     }

     .jsleftwriting1 {
         float: left;
         margin: 0px 0px 0px 0px;
         padding: 0px 0px 0px 10px;
         width: 270px;
         height: 240px;
         line-height: 30px;
         text-align: left;
         color: rgb(44, 44, 44);
     }

     .jsleftpic2 {
         background-color: aliceblue;
         width: 50%;
         height: 250px;
         margin: 5px 0px 0px 10px;
         border-radius: 80px;
         float: left;
         background-image: url('../images/js2.jpg');
         background-position: center;
         background-size: cover;
     }

     .jsleftwriting2 {
         float: left;
         width: 270px;
         height: 260px;
         padding: 0px 0px 0px 10px;
         line-height: 30px;
         text-align: left;
         color: rgb(44, 44, 44);
     }

     .jsright {
         background-color: #ecc9ee;
         width: 585px;
         border-radius: 100px;
         height: 580px;
         margin: 10px 10px 10px 5px;
         text-align: center;
         float: right;
         color: rgb(44, 44, 44);
     }

     .jsrighttitle {
         text-align: center;
         color:white;
         text-shadow: 3px 3px 3px gray;
     }

     #jsstar {
         font-size: 35px;
     }

     .jsrightpic {
         background-color: aliceblue;
         width: 330px;
         height: 330px;
         margin: 0px 0px 0px 10px;
         border-radius: 80px;
         float: left;
         background-image: url('../images/js3.jpg');
         background-position: center;
         background-size: cover;
     }

     .jsrightwriting {
         width: 235px;
         padding-left: 10px;
         height: 330px;
         float: right;
         text-align: left;
         line-height: 30px;
     }

     .jsright2 {
         clear:both;
         width: 560px;
         height: 140px;
         margin: 0px 0px 0px 0px;
         text-align: left;
         padding: 1px 0px 0px 20px;
     }

     .jisooaddr {
        clear:both;
        font-size: 20px;
        text-align:right;
        padding-right: 70px;
     }

     .jisooaddr:hover {
         font-weight: bold;
     }

     #jslast {
        text-align: center;
     }