<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초록색이 젤다 맞죠?</title>
    <link href="../static/CSS/styles_main.css" rel="stylesheet" />

</head>
<body>
    <!-- 배경 이미지 넣기 -->
    <h1 class="title">초록색이 젤다 맞죠?</h1>
    
    <!-- 간단한 팀 소개글 
      1 팀에 대한 설명
      2 우리 팀만의 특징과 추구하는 궁극적인 목표
      3 우리 팀의 약속-->

    <div class="team_info">팀 소개</br>
        <div class="team_info_detail">
            <p>대화 중 우연히 나온 젤다의 전설에 꽂힌 사람들입니다.</p>
            <p>우리는 취업을 향해 달려가며, 프로젝트를 성공적으로 마치기 위해 노력합니다.</p>
            <p>예쁜 말로 소통하며, 맡은 일에 최선을 다합니다.</p>
            <p>링크의 모험 많이 사랑해 주세요.</p>
        </div>

    </div>


    <div class="thumbup" onclick="location.href='page2'"> </div>
    <div class="team_meet">
        <span>↑ 지금</span>
        <span class="light">즉시</span>
        <span>팀원 만나러가기!</span>
        </div>
    <!-- page 2로 넘어가기 -->

</body>

</html>