<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초록색이 젤다 맞죠?</title>
    <link href="../static/styles_main.css" rel="stylesheet" />
</head>

<body>

    <h1 class="title">초록색이 젤다 맞죠?</h1>
    <!-- 배경 이미지 넣기 -->

    <div class="team_info">팀 소개
        <h2> 젤다를 좋아하는 사람들의 모임입니다.</br> 링크의 모험 많이 사랑해주세요.
        </br> 팀에 대한 설명 우리팀만의 특징과 추구하는..궁극적인목표</br>우리팀의 약속
        </h2>
    </div>
    <!-- 간단한 팀 소개글 -->

    <div class="thumbup" onclick="location.href='page2.html'"> </div>
   
    <div class="team_meet">↑ 지금 즉시 팀원 만나러가기!</div>
    <!-- page 2로 넘어가기? 아니면 멤버카드? -->

</body>

</html>