<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>최종우 카드</title>
    <link href="../static/styles_tc.css" rel="stylesheet" />
</head>

<body>
    <div class="card">
        <div class="left">
            <div class="ans1">나는 누구인가<br>
                ISTP인데 mbti는 잘 안믿는 사람입니다.<br>
                내가 좋아하는 즐거운 것을 찾아다닙니다.
            </div>
            <div class="ans1">객관적인 자신의 장점<br>


            </div>
            <div class="ans1">자신의 협업 스타일 소개</div>

        </div>

        <div class="right">
            <div class="name">최종우</div>
            <div class="profile"></div>
            <button class="blog_btn" onclick="window.open('https://jonggae.tistory.com/')">
                BLOG</button>

        </div>

    </div>


</body>

</html>